#map {
    width: 65%;
    height: 900px;
    z-index: 1;
    position: relative;
}
 #datatable{ 
    z-index: 2;
    position: fixed;
    top: 0px;
    bottom: 100px;
    left: 65%;
    height:900px;

}
#menu {
    width:10%;
    height:900px;
    z-index:1;
    position: relative;
    background-color: grey;
    bottom:1750px;
    opacity: .25;
    color:red;
    text-align: center;
}
#menu:hover{
    background-color: black;
}
#datatable:hover{
    background-color: whitesmoke;
}
/* this is for the open nav sidebar menu */
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    
    height: 100%;
    width: 0;
    bottom: 800px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    opacity: 1;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: .6s;
}

.sidenav a {
    text-decoration: none;
    font-size: 10px;
    color: rgb(0, 0, 0);
    display: block;
    transition: 0.3s;
}

.categorybutton {
    font-size: 15px;
    display: block;
    transition: 0.3s;
    background-color: rgb(156, 235, 255); /* Black */
    border: 5px solid rgb(156, 235, 255); /* White */
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 10px 80px;
    text-align: center;
    text-decoration: none;
}

/*Subclass button refers to the subclasses in each of the catagories in the sidebar*/
.subclassbutton {
    font-size: 10px;
    display: block;
    transition: 0.3s;
    background-color: #ffffff; /* White */
    border: 2px solid rgb(0, 0, 0); /* Green */
    border-radius: 8px;
    color: black;
    padding: 10px 80px;
    text-align: center;
    text-decoration: none;
}

.subclassbutton:hover {
    font-size: 12px;
    display: block;
    transition: 0.3s;
    background-color: #000000; /* Black */
    border: 5px solid rgb(156, 235, 255); /* White */
    border-radius: 10px;
    color: rgb(156, 235, 255);
    padding: 10px 80px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.1s;
}

.subclassbutton:checked {
    font-size: 15px;
    display: block;
    transition: 0.3s;
    background-color: #ca1212; /* Black */
    border: 5px solid rgb(255, 255, 255); /* White */
    border-radius: 10px;
    color: rgb(255, 255, 255);
    padding: 10px 80px;
    text-align: center;
    text-decoration: none;
}

.sidenav p {
    text-decoration: none;
    font-size: 15px;
    color: whitesmoke;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: relative;
    top: 0;
    right: 25px;
    font-size: 28px;
    margin-left: 50px;
}
