#map, #container { width: 50%; height: 90%; top:10%;}
        #map { float: left; }
        #container { float: right; }
        #container .map { width: 100%; height: 50%;top:11%;}
        html, body { width: 100%; height: 100%;top:10%; margin: 0; }
#svgHolderDiv {
    width: 100%;
}
#map1title {
    position: absolute;
     width: 49.8%;
     height: 3%;
     text-align: center;  }
#map1title h2,p{background:lightgrey;color:red}
#map2title {
    position: absolute;
    left: 50%;
    bottom:97%;
     width: 49.8%;
     height: 3%;
     text-align: center;  }
#map2title h2,p{background:lightgrey;color:red}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 134, 134, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}