table {
    border-collapse: collapse;
  }
  th {
    border-bottom: 2px solid red;
    padding: 8px;
    font-weight: bold;
  }
  td {
    padding: 10px;
    border-top: 1px solid #ddd;
  }
  #chart {
    padding: 10px;
  }
  .xaxislabel {
    font-size: 10px;
  }